module Colors.Stylix where

import XMonad

colorBg = "#{{base00}}"
colorFg = "#{{base05}}"
color01 = "#{{base02}}"
color02 = "#{{base08}}" -- usually red
color03 = "#{{base0B}}" -- usually green
color04 = "#{{base0A}}" -- usually yellow
color05 = "#{{base0E}}" -- usually blue
color06 = "#{{base0F}}" -- usually magenta
color07 = "#{{base0D}}" -- usually cyan
color08 = "#{{base07}}" -- usually white

-- Select focus and secondary color
colorFocus = color02
colorSecondary = color07
